.container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 0;
  /* transform: translateX(-45rem); */
  transition: width 0.2s ease-out;
  /* border: 1px solid white; */
}

.container.show,
.playlist.show {
  width: 45rem;
  opacity: 1;
  /* transform: translateX(0); */
}
.playlist {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding: 2rem 2rem;
  scroll-behavior: smooth;
  opacity: 0;
  /* border: 1px solid white; */
  transition: opacity 0.2s ease-out;
}

.playlist::-webkit-scrollbar {
  width: 0;
}

.playlist::-webkit-scrollbar-track {
  background: transparent;
}

.playlist::-webkit-scrollbar-thumb {
  background: transparent;
}
