.song-container {
  border-block: rgb(28, 28, 28) 0.5px solid;
  height: 7rem;
  padding: 1rem;
}

.song-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.song-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 1rem;
}
.song-info--img {
  height: 5rem;
  width: 5rem;
}

.song-info--img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.song-info--details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.song-info--duration {
  width: 5rem;
  flex-shrink: 0;
}

.song-container.current {
  background-color: #1c001c;
}
