.playlist--menu {
  padding: 0 3rem;
  margin: 1.5rem 0;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 45rem;

  /* border: 1px solid white; */
}
