.playlist--menu {
  padding: 0 3rem;
  margin: 1.5rem 0;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* width: 45rem; */
  width: 100%;

  /* border: 1px solid white; */
}

@media (max-width: 480px) {
  .playlist--menu {
    padding: 0;
    margin: 0;
    /* height: 3rem; */
    width: 100%;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    gap: 1rem;
  }
  .playlist--menu svg {
    font-size: 3rem;
  }
}
