.audio-controls {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  height: 10rem;
  /* border: 1px solid white; */
}

.volume-control {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  /* border: white solid 1px; */
}

.volume-control > input[type="range"] {
  cursor: grab;
  opacity: 0;
  transition: all 0.1s ease-out;
}

.volume-control:hover > input[type="range"] {
  opacity: 1;
}
.volume-control:active > input[type="range"] {
  cursor: grabbing;
  opacity: 1;
}

.main-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  height: 10rem;
  /* border: 1px solid white; */
}
