.audio-controllers {
  width: 100%;
  /* background-color: black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24rem;

  position: relative;
  z-index: 50;

  /* border: 1px solid white; */
}
