.icon {
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  margin: -0.2rem;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-out;

  /* border: 1px solid white; */
}

.icon.disabled {
  color: rgb(55, 55, 55);
  cursor: initial;
}

.icon.prev-next {
  height: 5rem;
  width: 5rem;
}

.icon.play-pause:hover,
.icon.prev-next:hover,
.icon.repeat:hover {
  transform: scale(1.05);
  color: var(--white-hover);
}

.icon.repeat,
.icon.shuffle,
.icon.off {
  height: 3.5rem;
  width: 3.5rem;
}

.icon.off {
  color: rgb(80, 80, 80);
}
.icon.off:hover {
  transform: scale(1.05);
}
