.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  /* border: 1px solid white; */
}

.app--middle {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-grow: 1;

  height: calc(100vh - 9rem - 6rem - 24rem);
  /* 100vh - nav - menu - playerbutton */

  /* border: 1px solid white; */
}
