.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  /* border: 1px solid white; */
}

.app--middle {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-grow: 1;

  /* border: 1px solid white; */
}

@media (max-width: 480px) {
  .app {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    height: 100%;
    width: 100%;

    /* border: 1px solid white; */
  }

  .app--middle {
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */

    position: relative;
    overflow: hidden;
    width: 100%;

    /* flex-grow: 1; */

    /* border: 1px solid white; */
  }
}
