.upload-btn-container,
.upload-btn-container input[type="file"] {
  width: 100%;
}

.upload-btn-container {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.upload-btn-container input[type="file"] {
  height: 5rem;
  position: relative;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.upload-btn-container input[type="file"]:hover + .btn-icon {
  background-color: var(--pink-hover);
}

.btn-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  background-color: var(--pink);
  transition: all 0.2s ease-out;
}
.btn-icon h3 {
  font-size: 1.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 2rem;
}
