/* STYLES WAS MOVED TO RESPECTIVE COMPONENTS CSS FILES */

/* .form--validation-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.form--validation-btn button {
  height: 5rem;
  width: 10rem;
  border-radius: 5px;
} */
/* .cancel {
  color: var(--white);

  transition: all 0.1s ease-out;
}
.cancel:hover {
  color: #6c3ce3;
}
.confirm {
  background-color: #541be4;
  transition: all 0.1s ease-out;
}
.confirm:hover {
  background-color: #4a1cc0;
} */
