.cancel-rectangle {
  color: var(--white);

  transition: all 0.1s ease-out;
}
.cancel-rectangle:hover {
  color: #6c3ce3;
}
.confirm-rectangle {
  background-color: #541be4;
  transition: all 0.1s ease-out;
}
.confirm-rectangle:hover {
  background-color: #4a1cc0;
}
