:root {
  --max-width: 90rem;
  --black: black;
  --white: white;
  --white-hover: #cbcbcb;
  --pink: #ee82ee;
  --pink-hover: #e958e9;
  --purple: #c200db;
  --purple-hover: #9100a4;

  --auth-form-width: 50%;

  --mid-prompt-backdrop: rgba(0, 0, 0, 0.97);
  --mid-prompt-arrows-hover: #6c3ce3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  background: var(--black);
  color: var(--white);
  font-family: "Cabin", sans-serif;
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Cabin", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
