.audio-control {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 3rem;
  /* border: 1px solid white; */
}

.volume-control {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;

  /* border: white solid 1px; */
}

.volume--slider {
  width: 45rem;
}
.volume-control > input[type="range"] {
  cursor: grab;
  opacity: 0;
  transition: all 0.1s ease-out;

  /* border: white solid 1px; */
}
.volume-control:hover > input[type="range"] {
  opacity: 1;
}
.volume-control:active > input[type="range"] {
  cursor: grabbing;
  opacity: 1;
}

.main-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
  height: 5rem;
  /* margin-bottom: 5rem; */
  /* border: 1px solid white; */
}

@media (max-width: 480px) {
  .audio-control {
    width: 100%;
    padding: 1rem 2.5rem;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    gap: unset;
    height: auto;
    /* border: 1px solid white; */
  }

  .volume-control {
    display: none;
    /* height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0; */

    /* border: white solid 1px; */
  }

  .volume-control > input[type="range"] {
    display: none;
    /* cursor: grab;
    opacity: 0;
    transition: all 0.1s ease-out; */
  }

  .volume-control:hover > input[type="range"] {
    opacity: 1;
  }
  .volume-control:active > input[type="range"] {
    cursor: grabbing;
    opacity: 1;
  }

  .main-controls {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    justify-content: space-around;
    padding: 1rem 0;
    width: 100%;
    gap: 2rem;
    height: 100%;
    /* border: 1px solid white; */
  }

  .invisible-div {
    display: none;
  }
}

/* .volume-control input[type="range"] {
  height: 3.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
}
.volume-control input[type="range"]:focus {
  outline: none;
}
.volume-control input[type="range"]::-webkit-progress-value {
  background-color: #ee82ee;
}
.volume-control input[type="range"]::-webkit-slider-runnable-track {
  width: 2rem;
  height: 0.5rem;
  background: white;
  border-radius: 50px;
}

.volume-control input[type="range"]:focus::-webkit-slider-runnable-track {
  background: white;
}

.volume-control input[type="range"]::-moz-range-track {
  height: 0.5rem;
  background: white;
  border-radius: 50px;
}
.volume-control input[type="range"]::-ms-track {
  height: 0.5rem;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #e958e9;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50px;
  background: #ffffff;
  -webkit-appearance: none;
  margin-top: -6px;
}

.volume-control input[type="range"]::-moz-range-thumb {
  border: 1px solid #e958e9;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50px;
  background: #ffffff;
}

.volume-control input[type="range"]::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #e958e9;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50px;
  background: #ffffff;
}

.volume-control input[type="range"]::-ms-fill-lower {
  background: #ee82ee;
  border-radius: 100px;
}

.volume-control input[type="range"]::-ms-fill-upper {
  background: #ee82ee;
  border-radius: 100px;
}

.volume-control input[type="range"]:focus::-ms-fill-lower {
  background: #ee82ee;
}

.volume-control input[type="range"]:focus::-ms-fill-upper {
  background: #ee82ee;
} */
