.inputs-container {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  /* border: 1px solid white; */
}

@media (max-width: 480px) {
  .inputs-container {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 1rem;

    /* border: 1px solid white; */
  }
}
